.button{
    background-color: #141414;

    display: inline-flex;
    width: 80%;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: #fff;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
}